.console {
  margin-top: 20px;
  padding: 3px 3px;
  width: 500px;
  color: rgb(198, 131, 8);
  background-color: rgb(228, 204, 173);
  div {
    padding: 3px 3px;
    height: 200px;
    background-color: antiquewhite;
    color: orange;
    border-radius: 5px;
  }
}
